.app-content-container{
   display: flex;
   flex-flow: column;
   height: 100%;
   .app-content-header{
    margin: 5px 5px 0 5px;
    >.second-column{
      button {
        margin-top: 5px;
        width: 100%;
      }
      button:first-child{
        margin-top: 0px;
      }
    }
  }
  .app-content-body-container{
    display: flex;
    flex: 1 0 auto;
  }
}

.app-content-body{
  margin: 5px 5px 5px 5px;
  flex: 1 0 auto;
  .request-status{
    .in-progress-request{
      position: absolute;
      left: 45%;
      top: 42%;
    }
    .error-request{
      position: absolute;
      left: 33%;
      top: 46%;
    }
  }
}
/*push the paginator below in screen*/
.table-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-content-routed-body-container{
  height: 100%;
  display: flex;
  flex-flow: column;
  .request-status{
    .in-progress-request{
      position: absolute;
      left: 45%;
      top: 55%;
    }
    .error-request{
      position: absolute;
      left: 33%;
      top: 56%;
    }
  }
}

/*MEDIA QUERIES*/
/*MAX-WIDTH*/
@media (max-width: 768px) {
}
/*MIN-WIDTH*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .app-content-header{
    display: flex !important;
    justify-content: space-between !important;
    >.first-column, >.second-column{
      width: 30%;
    }
  }
}
