.app-container{
   display: flex;
   flex-flow: column;
   height: 100%;
   .app-header-grandparent-container{
    margin: 5px 5px 0 5px;
    .app-header-container{
      >.second-column{
        button {
          margin-top: 5px;
          width: 100%;
        }
        button:first-child{
          margin-top: 0px;
        }
      }
    }
   }
   .app-body-grandparent-container{
    margin: 5px 5px 5px 5px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
   }
   .app-routed-table-grand-parent-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    .app-routed-table-container{
      margin: 5px 5px 5px 5px;
      flex: 1 0 auto;
      .app-routed-table-header-container{
        >.second-column{
          button {
            margin-top: 5px;
            width: 100%;
          }
          button:first-child{
            margin-top: 0px;
          }
        }
      }
    }
   }
   .push-paginator-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
}


/*MEDIA QUERIES*/
/*MAX-WIDTH*/
@media (max-width: 768px) {
}
/*MIN-WIDTH*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .app-header-container, .app-routed-table-header-container{
    display: flex !important;
    justify-content: space-between !important;
    >.first-column, >.second-column{
      width: 30%;
    }
  }
}
