.app-routed-content-container{
  display: flex;
  flex-flow: column;
  height: 100%;
  background: pink;
  .app-routed-content-header{
    margin: 5px 5px 0 5px;
    >.second-column{
      button {
        margin-top: 5px;
        width: 100%;
      }
      button:first-child{
        margin-top: 0px;
      }
    }
  }
  .app-routed-content-body{
    margin: 5px 5px 5px 5px;
    flex: 1 1 auto;
    .table-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .request-status{
        .in-progress-request{
          position: absolute;
          left: 45%;
          top: 42%;
        }
        .error-request{
          position: absolute;
          left: 35%;
          top: 42%;
        }
      }

    }
  }
}

/*MEDIA QUERIES*/
/*MAX-WIDTH*/
@media (max-width: 768px) {
}
/*MIN-WIDTH*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .app-routed-content-header{
    display: flex !important;
    justify-content: space-between !important;
    >.first-column, >.second-column{
      width: 30%;
    }
  }
}
