html, body {
  height: 100%;
  body {
    margin: 0;
  }
  .center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .center-text{
    text-align: center;
  }
  .error{
    color: red;
  }
  #bold{
    font-weight: bold;
  }
  .active-button{
    color: black;
  }


}


