html, body {
  height: 100%;
  body {
    margin: 0;
  }
  .center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .center-text{
    text-align: center;
  }
  .success{
    color: green;
  }
  .warn{
    color: rgb(222, 202, 27);
  }
  .error{
    color: red;
  }
  .full-width{
    width: 100%;
  }
  #bold{
    font-weight: bold;
  }

}


