.form{
  #form-column-1{
    width: 100%;
  }
  #form-column-2{
    mat-form-field{
      width: 48%;
    }
    display: flex;
    justify-content: space-between;

  }
  .action-buttons-container-flex-end{
    display: flex;
    justify-content: flex-end;
  }
}

