table{
  width: 100%;
  mat-icon:hover{
    cursor: pointer;
  }
  .mat-header-cell, .mat-cell{
    text-align: center !important;
  }
  #warning-msg{
    color: red;
    font-size: 12px;
  }
  .actions-container{
    mat-icon:nth-child(1){
      float: left;
    }
    mat-icon:nth-child(2){
      float: right;
    }
  }
}
