 <div class="app-content-container">
   <app-list-header
    class="app-content-header-container"
    (addInquiry)="store.onAddInquiry()"
   >
   </app-list-header>
   <app-list-body
    class="app-content-body-container"
    [state$]="store.state$"
    [displayedColumns]="store.displayedColumns"
    [pageSizeOptions]="dataTableService.pageSizeOptions"
    [request]="dataStoreService.request"
    (listPaginatorUpdate)="store.onPaginatorUpdate($event)"
    (listInquiryUpdate)="store.onInquiryUpdate($event)"
    (listInquiryDelete)="store.onInquiryDelete($event)"
    >
   </app-list-body>
 </div>
