<app-container-bedspace-room-form
[state$]="store.state$"
[form]="store.form"
[requestResponse]="store.requestResponse"
[roomNumbers]="store.roomNumbers"
[floorNumbers]="store.floorNumbers"
[airconStatuses]="dataRoomService.airconStatuses"
[bedForm]="store.bedForm"
[tenants]="store.tenants"
[deckStatuses]="dataRoomService.deckStatus"
[awayDeckStatuses]="store.awayDeckStatuses"
[bedsFormArrayLength]="store.bedsFormArrayLength"
(roomOnBack)="store.onBack()"
(roomOnSubmit)="store.onSubmit()"
(roomOnAddBed)="store.onAddBed()"
(bedFormOnSearchTenant)="store.onSearchTenant($event)"
(formOnDeckStatusChange)="store.onDeckStatusChange($event)"
(bedFormUpdate)="store.onBedFormUpdate($event)"
(bedFormOnTenantClick)="store.onTenantClick($event)"
>
</app-container-bedspace-room-form>
