<h3 mat-dialog-title class="center-text">
    Search Room Payment
</h3>
<mat-dialog-content [formGroup]="roomPaymentSearchForm" class="form">
    <div id="form-column-2">
        <mat-form-field>
            <mat-select placeholder="Room number" formControlName="roomNumber">
              <mat-option *ngFor="let number of dataRoomService.roomNumbers;" [value]="number">
                {{number}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input class="hidden-date-input" [matDatepicker]="date">
          <input matInput placeholder="Month/Year" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date
                          startView="multi-year"
                          (monthSelected)="chosenMonthHandler($event, date)"
          ></mat-datepicker>
        </mat-form-field>
    </div>
    <div id="form-column-2">
        <mat-form-field>
            <mat-select placeholder="Electric bill status"  formControlName="electricBillStatus">
              <mat-option *ngFor="let status of dataPaymentService.paymentStatuses;" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Water bill status"  formControlName="waterBillStatus">
              <mat-option *ngFor="let status of dataPaymentService.paymentStatuses;" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div id="form-column-2">
        <mat-form-field>
            <mat-select placeholder="Rice cooker bill status"  formControlName="riceCookerBillStatus">
              <mat-option *ngFor="let status of dataPaymentService.paymentStatuses;" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Rent status"  formControlName="rentStatus">
            <mat-option *ngFor="let status of dataPaymentService.paymentStatuses;" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons-container">
  <button mat-raised-button color="primary" [matDialogClose]='roomPaymentSearchForm.value'>Ok</button>
</mat-dialog-actions>
     