<table mat-table [dataSource]="state.table.dataSource">
    <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Room number</th>
        <td mat-cell *matCellDef="let element">{{element.roomNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>
    <ng-container matColumnDef="electricBillStatus">
      <th mat-header-cell *matHeaderCellDef>Electric bill status</th>
      <td mat-cell *matCellDef="let element" appPaymentColorStatus>{{element.electricBillStatus}}</td>
     </ng-container>
     <ng-container matColumnDef="waterBillStatus">
      <th mat-header-cell *matHeaderCellDef>Water bill status</th>
      <td mat-cell *matCellDef="let element" appPaymentColorStatus>{{element.waterBillStatus}}</td>
     </ng-container>
     <ng-container matColumnDef="riceCookerBillStatus">
      <th mat-header-cell *matHeaderCellDef>Rice cooker bill status</th>
      <td mat-cell *matCellDef="let element" appPaymentColorStatus>
        <span *ngFor="let status of element.tenantsRiceCookerBillStatuses">
          <p appPaymentColorStatus>{{status}}</p>
        </span>
      </td>
     </ng-container>
     <ng-container matColumnDef="rentStatus">
      <th mat-header-cell *matHeaderCellDef>Rent status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let status of element.tenantsRoomRentStatuses">
          <p appPaymentColorStatus>{{status}}</p>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon id="label-text-primary" (click)="onUpdateRoomPayment(element._id)">edit</mat-icon>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>
