<div class="center-content">
  <mat-card class="form">
    <mat-card-title class="center-content">UPDATE ROOM</mat-card-title>
    <mat-card-content [formGroup]="form">
      <div id="form-column-2">
        <mat-form-field>
          <input matInput type="number" placeholder="Room number" formControlName="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Floor number" formControlName="floor">
        </mat-form-field>
      </div>
      <div id="form-column-2">
        <mat-form-field>
          <mat-select placeholder="Room type"  formControlName="type">
            <mat-option *ngFor="let roomType of roomTypes;" [value]="roomType">
              {{roomType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Aircon status" formControlName="aircon">
            <mat-option *ngFor="let withOrWithout of airconStatuses;" [value]="withOrWithout">
              {{withOrWithout}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div formArrayName="roomProperties" *ngFor="let property of form.get('roomProperties').controls; let i = index;">
        <div [formGroupName]="i">
          <div id="form-column-2">
            <mat-form-field>
              <mat-select placeholder="Room status" formControlName="status">
                <mat-option *ngFor="let status of roomStatuses;" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Monthly rent" formControlName="monthlyRent">
            </mat-form-field>
          </div>
          <div id="form-column-2">
            <mat-form-field>
              <input matInput type="number" placeholder="Due rent date" formControlName="dueRentDate">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Rice cooker bill" formControlName="riceCookerBill">
            </mat-form-field>
          </div>
        </div>
      </div>
      <button id="form-column-1" mat-raised-button color="primary" (click)="onAddTenant()">
        <span>ADD TENANT</span>
      </button>
    </mat-card-content>
    <mat-card-actions>
      <div class="action-buttons-container">
        <button mat-raised-button  color="primary" (click)='onBack()'>
          <span>Back</span>
        </button>
        <button mat-raised-button color="primary" (click)='onSubmit()' [disabled]='form.invalid || inProgress'>
          <span>Update</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

