<mat-card>
    <mat-card-content>
        <div class="first-column">
            <div class="webcam">
              <img *ngIf="!isShowWebcam" src="../../../assets/img/no_camera_found.png" alt="no_camera_found" >
              <webcam [height]="350" [width]="350" [trigger]="triggerObservable" (imageCapture)="onHandleImage($event)" *ngIf="isShowWebcam"
               (initError)="onHandleInitError($event)"></webcam>
            </div>
          <button mat-raised-button color="primary" mat-button (click)="onTriggerSnapshot()">Capture</button>
            <div class="error-block">
              <ul *ngFor="let error of errors">
                <li>{{error | json}}</li>
              </ul>
            </div>
        </div>
        <div class="second-column">
          <img *ngIf="!webcamImage" src="../../../assets/img/tenant_default_image.png" alt="tenant_image" >
          <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl" />
        </div>
    </mat-card-content>
</mat-card>