<div class="first-column">
  <div class="center-content">
    <h1>{{roomTableName}}</h1>
  </div>
</div>
<div class="second-column">
  <button color="primary" mat-raised-button (click)="onPrivateTransientRooms()">
    <span>Private/Transient</span>
  </button>
  <button mat-raised-button color="primary" (click)="onSemiPrivateRooms()">
    <span>Semi Private</span>
  </button>
  <button color="primary" mat-raised-button (click)="onBedspaceRooms()">
    <span>Bedspace</span>
  </button>
  <button mat-raised-button color="primary" (click)="onAddRoom()">
    <span>Add Room</span>
  </button>
</div>

