<div class="app-container">
  <mat-card class="app-header-grandparent-container">
    <mat-card-content>
      <app-room-header
      class="app-header-container"
      [roomTableName]="roomTableName"
      (roomHeaderOnPrivateTransientRooms)="onPrivateTransientRooms()"
      (roomHeaderOnBedspaceRooms)="onBedspaceRooms()"
      (roomHeaderOnSemiPrivateRooms)="onSemiPrivateRooms()"
      (roomHeaderOnAddRoom)="onAddRoom()"
      >
      </app-room-header>
    </mat-card-content>
  </mat-card>
  <router-outlet
    (activate)="onSetTableName($event)"
  ></router-outlet>
</div>
