 .bed-column{
  border: 4px solid gray;
  margin-bottom: 4px;
  padding: 4px;
  p{
    margin: 4px;
  }
   .deck-column{
    border: 4px solid black;
    margin-bottom: 4px;
     .first-row, .third-row{
       display: flex;
       justify-content: flex-start;
     }
     .second-row{
       display: flex;
       justify-content: space-between;
     }
     .away-column{
      border: 4px solid #255070;
      margin: 4px;
       .first-row, .second-row, .third-row{
         display: flex;
         justify-content: space-between;
       }
       .fourth-row{
         display: flex;
         justify-content: flex-start;
       }
     }
   }
   .deck-column:last-child{
     margin-bottom: 0;
   }
 }
