<app-container-bedspace-room-form
[state$]="store.state$"
[form]="store.form"
[requestResponse]="dataStoreService.requestResponse"
[airconStatuses]="dataRoomService.airconStatuses"
[bedForm]="store.bedForm"
[tenants]="dataTenantService.tenants"
[deckStatuses]="dataRoomService.deckStatus"
[awayDeckStatuses]="dataRoomService.awayDeckStatuses"
[bedsFormArrayLength]="store.bedsFormArrayLength"
(roomOnBack)="store.onBack()"
(roomOnSubmit)="store.onSubmit()"
(roomOnAddBed)="store.onAddBed()"
(bedFormOnSearchTenant)="dataTenantService.onSearchTenant($event)"
(formOnDeckStatusChange)="store.onDeckStatusChange($event)"
(bedFormUpdate)="store.onBedFormUpdate($event)"
(bedFormOnTenantClick)="store.onTenantClick($event)"
>
</app-container-bedspace-room-form>
