<mat-card *ngIf="state$ | async as subs" class="app-content-body">
  <div class="center-content" *ngIf="subs.requests.list.inProgress">
    <mat-spinner></mat-spinner>
  </div>
  <div class="center-content" *ngIf="subs.requests.list.error">
   <h1>Oops! Something went wrong</h1>
  </div>
  <table *ngIf="subs.requests.list.success" mat-table [dataSource]="subs.dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="roomType">
      <th mat-header-cell *matHeaderCellDef>Room type</th>
      <td mat-cell *matCellDef="let element">{{element.roomType}}</td>
    </ng-container>
    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef>Room number</th>
      <td mat-cell *matCellDef="let element">{{element.roomNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="foundGMRCthrough">
      <th mat-header-cell *matHeaderCellDef>Found GMRC through</th>
      <td mat-cell *matCellDef="let element">{{element.howDidYouFindUs}}</td>
    </ng-container>
    <ng-container matColumnDef="willOccupyIn">
      <th mat-header-cell *matHeaderCellDef>Will occupy in</th>
      <td mat-cell *matCellDef="let element">
        {{element.willOccupyIn}}
        <!-- {{convertDateToDateString(element.willOccupyIn)}}
          <div *ngIf="isShowWillOccupyInWarningMsg(element.willOccupyIn) && element.status !== 'Settled'" id="willOccupyInWarningMsg">
            {{warningMessage(element.willOccupyIn, element.name)}}
          </div> -->
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="actions-container">
        <mat-icon  (click)="updateInquiry(element._id)">edit</mat-icon>
        <mat-icon  (click)="deleteInquiry(element._id, element.name)" color="warn">delete_forever</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-card-actions *ngIf="subs.requests.list.success">
    <mat-paginator
      [length]="subs.totalCount"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="onPaginatorUpdate($event)">
    </mat-paginator>
  </mat-card-actions>
</mat-card>
