<h3 mat-dialog-title class="center-text">{{data.title}}</h3>
<mat-dialog-content [formGroup]="form" class="form">
  <div id="form-column-2">
    <mat-form-field>
      <mat-select placeholder="Room numbers" formControlName="roomNumber">
        <mat-option *ngFor="let number of dataRoomService.roomNumbers;" [value]="number">
            {{number}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Room type" formControlName="roomType">
        <mat-option *ngFor="let type of dataRoomService.roomTypes;" [value]="type">
            {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field id="form-column-1">
    <input matInput [matDatepicker]="willOccupyIn" placeholder="Will occupy in" formControlName="willOccupyIn">
    <mat-datepicker-toggle matSuffix [for]="willOccupyIn"></mat-datepicker-toggle>
    <mat-datepicker #willOccupyIn></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons-container">
  <button mat-raised-button color="primary" [matDialogClose]='form.value'>Ok</button>
</mat-dialog-actions>
