<div *ngIf="state$ | async as subs" class="form-container">
  <mat-card class="form-inprogress-error" *ngIf="subs.requests.rooms.inProgress || subs.requests.rooms.error">
    <mat-card-content >
        <app-in-progress-error
        [request]="subs.requests.rooms"
        [requestResponse]="requestResponse"
      >
      </app-in-progress-error>
    </mat-card-content>
  </mat-card>
  <div *ngIf="subs.requests.rooms.success" class="full-width">
    <app-transient-private-room-tenant-form
     [form]="tenantForm"
     [tenants]="tenants"
     [inProgress]="subs.requests.submit.inProgress"
     (transienPrivateRoomTenantFormOnSearchTenant)="onSearchTenant($event)"
     (transienPrivateRoomTenantFormOnRemoveTenant)="onRemoveTenant($event)"
     (transienPrivateRoomTenantFormOnSubmit)="tenantFormOnSubmit($event)"
     (transienPrivateRoomTenantFormOnTenantClick)="onTenantClick($event)"
     (transientPrivateFormOnSubmit)="roomFormOnSubmit()"
    >
    </app-transient-private-room-tenant-form>
    <app-transient-private-room-form
    [form]="form"
    [roomStatuses]="roomStatuses"
    [airconStatuses]="airconStatuses"
    [inProgress]="subs.requests.submit.inProgress"
    (transientPrivateFormAddTenant)="onAddTenant()"
    (transientPrivateFormBack)="onBack()"
    (transientPrivateFormOnSubmit)="roomFormOnSubmit()"
    >
    </app-transient-private-room-form>
  </div>
</div>
