<mat-card class="app-content-header">
  <div class="first-column">
    <div class="center-content">
      <h1>INQUIRY</h1>
    </div>
  </div>
  <div class="second-column">
    <button mat-raised-button color="primary" (click)='onAdvanceSearch()'>
      <span>Advance Search</span>
    </button>
    <button mat-raised-button color="primary" (click)='displayAllInquiries()'>
      <span>Display All Inquiry</span>
    </button>
    <button
    routerLinkActive="active"
     mat-raised-button
     color="primary"
     (click)='onAddInquiry()'
     >
      <span>Add Inquiry</span>
    </button>
  </div>
</mat-card>
