<div class="first-column">
    <div class="center-content">
      <h1>{{paymentTableName}}</h1>
    </div>
  </div>
  <div class="second-column">
    <button color="primary" mat-raised-button (click)="onEntry()">
      <span>Entry</span>
    </button>
    <button mat-raised-button color="primary" (click)="onRoom()">
      <span>Room</span>
    </button>
    <button color="primary" mat-raised-button (click)="onPenalty()">
      <span>Penalty</span>
    </button>
    <button mat-raised-button color="primary" (click)="onUnsettleBill()">
      <span>Unsettle Bill</span>
    </button>
  </div>
  
  