 <app-container-entry-form
  [state$]="store.state$"
  [requestResponse]="dataStoreService.requestResponse"
  [entryForm]="store.entryForm" 
  [roomNumbers]="dataRoomService.roomNumbers"
  [tenants]="dataTenantService.tenants"
  [keyStatuses]="dataPaymentService.keyStatuses"
  [paymentStatuses]="dataPaymentService.paymentStatuses"
  (containerEntryFormOnSearchTenant)="dataTenantService.onSearchTenant($event)"
  (containerEntryFormOnSetTenantObjId)="store.onSetTenantObjId($event)"
  (containerEntryFormOnOneMonthDepositToggle)="store.onOneMonthDepositToggle($event)"
  (containerEntryFormOnOneMonthAdvanceToggle)="store.onOneMonthAdvanceToggle($event)"
  (containerEntryFormOnAddPartialPayment)="store.onAddPartialPayment()"
  (containerEntryFormOnBack)="store.onBack()"
  (containerEntryFormOnSubmit)="store.onSubmit()"
 >
 </app-container-entry-form>