 <div class="app-content-container">
   <app-inquiry-header
    class="app-content-header-container"
    (listAddInquiry)="store.onAddInquiry()"
    (listSearch)="store.onSearch($event)"
    (listDisplayAllInquiry)="store.onDisplayAllInquiry()"
   >
   </app-inquiry-header>
   <app-inquiry-body
    class="app-content-body-container"
    [state$]="store.state$"
    [displayedColumns]="store.displayedColumns"
    [pageSizeOptions]="dataTableService.pageSizeOptions"
    [request]="dataStoreService.request"
    (listPaginatorUpdate)="store.onPaginatorUpdate($event)"
    (listInquiryUpdate)="store.onInquiryUpdate($event)"
    (listInquiryDelete)="store.onInquiryDelete($event)"
    >
   </app-inquiry-body>
 </div>
