<div appSetParentElHeight class="app-content-routed-body-container">
  <mat-card class="app-content-body">
    <div class="table-container">
      <mat-card-content>
        <app-room-body-header
        (roomSearch)="store.onSearch()"
        (roomDisplayAllRooms)="store.onDisplayAllRooms()"
        >
        </app-room-body-header>
        <app-bedspace-room-body
          [request]="store.request"
          [displayedColumns]="store.displayedColumns"
          [state$]="store.state$"
          (roomUpdate)="store.onRoomUpdate($event)"
        >
        </app-bedspace-room-body>
      </mat-card-content>
      <mat-card-footer>
        <app-paginator
         [pageSizeOptions]="dataStoreService.pageSizeOptions"
         [totalCount]="store.state.table.totalCount"
         (paginatorUpdate)="store.onPaginatorUpdate($event)"
        ></app-paginator>
      </mat-card-footer>
    </div>
  </mat-card>
</div>
