<div [formGroup]="form" *ngIf="form.get('tenants').length" class="form-grid-container-4-col">
  <mat-card class="form" formArrayName="tenants" *ngFor="let tenant of form.get('tenants').controls; let i = index;" >
    <mat-card-title class="form-title">
      Tenant {{i + 1}}
      <div class="icon-container">
        <mat-icon
        class="material-icons"
        color="warn"
        (click)="onRemoveTenant(i)">
            cancel
        </mat-icon>
      </div>
    </mat-card-title>
    <mat-card-content [formGroupName]="i">
      <mat-form-field id="form-column-1">
        <input matInput type="text" placeholder="Tenant name"  formControlName="name" (input)="onSearchTenant(tenant.get('name').value)" [matAutocomplete]="auto">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let tenant of tenants"
          [value]="tenant.firstname+' '+tenant.middlename+' '+tenant.lastname"
          (click)="onTenantClick({index: i, tenantObjectId: tenant._id})"
        >
            {{ tenant.firstname+" "+tenant.middlename+" "+tenant.lastname }}
        </mat-option>
      </mat-autocomplete>
    </mat-card-content>
    <mat-card-actions>
      <div class="action-buttons-container">
        <button mat-raised-button color="primary" [disabled]="tenant.get('isAdded').value || inProgress" (click)="onSubmit(i)">
          <span id="button-text-white">Save</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

